{layout name="layout"/}
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/home.css">
<!--搜索栏的实现-->
<div class="search w">
    <div class="left"><p>个人中心</p></div>
    <div class="right">
        <input type="text">
        <input type="button" value="搜索">
    </div>
</div>
<!--主体main-->
<div class="main">
    <div class="main1 w">
        <div class="left">
            <ul>
                <li><a href="http://www.stc.net/index.php/index/Home/account" target="iframe1">账号管理</a></li>
                <li><a href="http://www.stc.net/index.php/index/Home/personal_information" target="iframe1">个人资料</a></li>
                <li><a href="http://www.stc.net/index.php/index/Cart/cart">我的购物车</a></li>
                <li><a href="http://www.stc.net/index.php/index/Order/order" target="iframe1">订单中心</a></li>
            </ul>
        </div>
        <div class="center">
            <iframe src="http://www.stc.net/index.php/index/Home/account" name="iframe1" scrolling="no"></iframe>
        </div>
    </div>
</div>
