<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/home.css">
</head>
<body>
<!--主导航栏的实现-->
<div class="top">
    <div class="top1 w">
        <a href="http://www.stc.net/index.php/index/Account/login">登录{$user.username}</a>
        <a href="http://www.stc.net/index.php/index/Account/register">注册</a>
    </div>
    <div class="top2 w">
        <a href="http://www.stc.net/index.php/index/Account/home">个人中心</a>
        <a href="http://www.stc.net/index.php/index/Cart/cart">购物车</a>
        <a href="http://www.stc.net">首页</a>
    </div>
</div>
<!--搜索栏的实现-->
<div class="search w">
    <div class="left"><p>个人中心</p></div>
    <div class="right">
        <input type="text">
        <input type="button" value="搜索">
    </div>
</div>
<!--主体main-->
<div class="main">
    <div class="main1 w">
        <div class="left">
            <ul>
                <li><a href="http://www.stc.net/index.php/index/Home/account" target="iframe1">账号管理</a></li>
                <li><a href="http://www.stc.net/index.php/index/Home/personal_information" target="iframe1">个人资料</a></li>
                <li><a href="http://www.stc.net/index.php/index/Cart/cart">我的购物车</a></li>
                <li><a href="http://www.stc.net/index.php/index/Order/order" target="iframe1">订单中心</a></li>
            </ul>
        </div>
        <div class="center">
            <iframe src="http://www.stc.net/index.php/index/Home/account" name="iframe1" scrolling="no"></iframe>
        </div>
    </div>
</div>
<!--底部1-->
<div class="bottom w">
    <div class="bottom1">
        <a href="">手推车电脑配件商城</a>
        <a href="">手推车论坛</a>
    </div>
    <div class="bottom2">
        <a href="">手推车手机维修网</a>
        <a href="">手推车电子大世界</a>
    </div>
</div>
<!--footer-->
<div class="end">
    <div class="end1 w">
        <div class="end2">
            <a href="">关于手推车</a>
            <a href="">合作伙伴</a>
            <a href="">营销中心</a>
            <a href="">廉政举报</a>
            <a href="">联系客服</a>
            <a href="">诚征英才</a>
            <a href="">联系我们</a>
        </div>
        <div class="end2"><a>增值电信业务许可证</a></div>
        <div class="end2"><a>互联网电子配件经营许可证</a></div>
        <div class="end2"><a>黑公网安备</a></div>
    </div>
</div>
</body>
</html>
