<!DOCTYPE html>
<html>
<head>
	<title>商品列表</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/goods.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css">
	<script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
</head>
<body>
		<!--主导航栏的实现-->
<div class="top">
    <div class="top1 w">
        <a href="login.html">登录</a>
        <a href="register.html">注册</a>
    </div>
    <div class="top2 w">
        <a href="home.html">个人中心</a>
        <a href="#">购物车</a>
        <a href="index.html">首页</a>
    </div>
</div>
<!--搜索栏的实现-->
<div class="search w">
    <div class="left"><p>手推车</p></div>
    <div class="right">
        <input type="text" value="{$data.wd}" id="wd">
        <input type="button" value="搜索" onclick="searchs()">
    </div>
</div>
<!-- 主体main -->
<div class="main w">
	<div class="m_left">
		{volist name="data.data.lists" id="vo"}
		<div class="product1" style=" height: 141px;">
			<img src="{$vo.img}">
			<span>
				<a href="/index.php/index/Goods/goodsDetails?goods_id={$vo.id}">{$vo.title}</a>
			</span>
			<span style="padding-left: 225px;color: #0086ff;">￥{$vo.price}</span>
			<span style="padding-left: 110px;">0人付款</span>
		</div>
		{/volist}
	</div>
	<div class="m_right"></div>
	<div id="pages"></div>
</div>

<!--底部1-->
<div class="bottom w">
    <div class="bottom1">
        <a href="">手推车电脑配件商城</a>
        <a href="">手推车论坛</a>
    </div>
    <div class="bottom2">
        <a href="">手推车手机维修网</a>
        <a href="">手推车电子大世界</a>
    </div>
</div>
<!--footer-->
<div class="end">
    <div class="end1 w">
        <div class="end2">
            <a href="">关于手推车</a>
            <a href="">合作伙伴</a>
            <a href="">营销中心</a>
            <a href="">廉政举报</a>
            <a href="">联系客服</a>
            <a href="">诚征英才</a>
            <a href="">联系我们</a>
        </div>
        <div class="end2"><a>增值电信业务许可证</a></div>
        <div class="end2"><a>互联网电子配件经营许可证</a></div>
        <div class="end2"><a>黑公网安备</a></div>
    </div>
</div>

<script type="text/javascript">
	layui.use(['layer','laypage'],function(){
		layer = layui.layer;
		$ = layui.jquery;
		laypage = layui.laypage;

		laypage.render({
				elem: 'pages'
				,count:{$data.data.total}
				,limit:{$data.pageSize}
				,curr:{$data.page}
			,jump: function(obj, first){
				if(!first){
					searchs(obj.curr);
				}
			}
		});
	});


	// 搜索
	function searchs(curpage){
		var wd = $.trim($('#wd').val());
		var url = "/index.php/index/goods/goods?page="+curpage;
		if(wd){
			url += '&wd='+wd;
		}
		window.location.href = url;
	}
</script>
</body>
</html>
