{layout name="layout"/}
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/goodsDetails.css">
<!--搜索栏的实现-->
<div class="search w">
    <div class="left"><p>商品详情</p></div>
    <div class="right">
        <input type="text">
        <input type="button" value="搜索">
    </div>
</div>
<!--  主体main -->
<div class="main w">
	<div class="m_left">
		<img src="{$data.data.img}">
	</div>
	<form>
	<div class="m_center">
			<p style="font-size: 16px; padding-left: 5px;"><b>{$data.data.title}</b></p>
		<div class="price">
			<span style=" font-size: 14px;padding-left: 5px;">价格</span>
			<span style="font-size: 21px;color:#0086ff;padding-left: 46px;">￥{$data.data.price}</span>
		</div>
		<div class="fee" style="margin-top: 13px;">
			<span>运费</span>
			<span style="padding-left: 49px;">￥&nbsp;0.00</span>
		</div>
		<div class="fee" style="margin-top: 30px;">
			<span>销量</span>
			<span style="padding-left: 49px;">0</span>
		</div>
		<div class="fee" style="margin-top: 30px;">
			<span>库存剩余</span>
			<span style="padding-left: 21px;">{$data.data.stock}&nbsp;件</span>
		</div>
		<div class="fee" style="margin-top: 30px;">
			<span>数量</span>
			<span style="padding-left: 49px;">-&nbsp;&nbsp;0&nbsp;&nbsp;+</span>
		</div>
		<input type="hidden" id="id" value="{$data.user.id}">
		<input type="hidden" id="goods_id" value="{$data.goods_id}">
		<div class="m_btn">
			  <input type="button" value="立即购买" class="btn1"  onclick="dobuy()">
				<input type="button" value="加入购物车" class="btn2"  onclick="doput()">
		</div>
	</div>
</form>
	<div class="m_right"></div>
</div>
<script type="text/javascript">
  layui.use(['layer'],function(){
    $ = layui.jquery;
    layer = layui.layer;

    // 用户名控件获取焦点
    $('#username').focus();
    // 回车登录
    $('input').keydown(function(e){
      if(e.keyCode == 13){
        dologin();
      }
    });
  });
function doput(){
  var id = $.trim($('#id').val());
  var goods_id = $.trim($('#goods_id').val());
  $.post('/index.php/index/Cart/doput',{'id':id,'goods_id':goods_id},function(res){
    if(res.code>0){
      layer.alert(res.msg,{icon:2});
    }else{
      layer.msg(res.msg);
    }
  },'json');
}
</script>
