*{
    margin: 0px;
    padding: 0px;
}
body{
	width: 850px;
	height: 660px;
}
ul{
    list-style: none;
}
a{
	text-decoration:none;
}
.top{
	width: 850px;
	height: 40px;
	border-bottom: 2px solid #e8e8e8;
	font-size: 20px;
	line-height: 40px;
	padding-left: 12px;
}
.top a{
	color: black;
}
.top a:hover{
	color: #74a0f8;
}
.top span{
	color: #e8e8e8;
	padding-right: 14px;
}
.nav{
	width: 850px;
	height: 38px;
	border: 1px solid #e8e8e8;
	margin-top: 18px;
	background-color: #f1f1f1;
	font-size: 14px;
	line-height: 38px;
}
.nav span{
	float: left;
	margin-left: 150px;
}
.nav li{
	float: left;
}
.order{
	width: 850px;
	height: 160px;
	border: 1px solid #e8e8e8;
	margin-top: 18px;
	font-size: 14px;
}
.order_top{
	width: 850px;
	height: 38px;
	border: 1px solid #e8e8e8;
	background-color: #f1f1f1;
	font-size: 14px;
	line-height: 38px;
}
.order_left{
	float: left;
	width: 538px;
}
.order_left img{
  width:50px;
  height:50px;
  margin-left:5px;
  margin-top:5px;
  background-color: blue;
  border: none;
  float:left;
}
.order_left li{
	float: left;
}
.order_right .status{
	float: left;
	width: 102px;
	height: 118px;
	border: 1px solid #ececec;
	border-bottom: none;
}
.status span{
	display: block;
	text-align: center;
	padding-top: 22px;
}
.information{
	width: 850px;
	height: 280px;
	border: 1px solid #ececec;
	margin-top: 10px;
	font-size: 14px;
}
.information_left{
	float: left;
	width: 538px;
	height: 238px;
	border: 1px solid #ececec;
}
.information_right{
	width: 310px;
	height: 238px
}
.information_right{
	float: left;
}
.information_right .money{
	float: left;
	width: 101px;
	height: 238px;
	border: 1px solid #ececec;
}
.money_top{
	height: 118px;
	border-bottom: 1px solid #ececec;
}
.paging{
	float: right;
	width: 850px;
	height: 87px;
}
.paging button{
	float: right;
	width: 35px;
	height: 35px;
	margin-top: 10px;
	margin-left: 7px;
}
iframe{
    width:850px;
    height:619px;
    border:none;
}
.goods{
  float: left;
  width:269px;
  height:60px;
  background-color: yellow;
}
.goodstitle{
  padding-top: 5px;
  padding-left: 5px;
  float:left;
}
