*{
    margin: 0px;
    padding: 0px;
}
body{
    min-width: 1200px;
}
.w{
    width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #666560;
}
a:hover{
    color: red;
}
ul{
    list-style: none;
}
/*主导航栏的实现*/
.top{
    width: 100%;
    height: 33px;
    background-color: #f4f4f4;
}
.top1 a{
    float: left;
    margin-left: 15px;
    font-size: 12px;
    line-height: 33px;
}
.top2 a{
    float: right;
    line-height: 33px;
    margin-right: 15px;
    font-size: 12px;
}
/*logo+搜索框的实现*/
.logo_search{
    height: 140px;
    /*background-color: pink;*/
}
.logo_search .left{
    float: left;
}
.logo_search .p1{
    font-size: 40px;
    color: #0086ff;
    margin-left: 41px;
    padding-top: 30px;
}
.logo_search .p2{
    color: #0086ff;
    font-size: 20px;
    padding-top: 5px;
    margin-left: 23px;
}
/*.logo_search .center{
    float: left;
    width: 507px;
    margin-top: 55px;
    margin-left: 160px;
    background-color: pink;
}*/
.logo_search .search{
    float: left;
    width: 554px;
    height: 40px;
    border: 2px solid #0054ff;
    margin-top: 56px;
    margin-left: 103px;
}
input[placeholder]{
    padding-left: 15px;
}
.logo_search .btn{
    float: left;
    width: 74px;
    height: 44px;
    border: none;
    color: white;
    font-size: 17px;
    background-color: #0054ff;
    margin-top: 56px;
    /*background-color:#0086ff;*/
}
/*主体main的实现*/
.main{
    width: 100%;
    height: 630px;
    background-image: url("../images/登录背景.jpg");
    overflow: hidden;
}
.main1{
    width: 420px;
    height: 420px;
    background-color: #dce4ff;
    margin-top: 105px;
}
.register p{
    font-size: 14px;
    padding-top: 37px;
    padding-left: 60px;
}
.inform input{
    border: none;
    font-size: 12px;
    width: 285px;
    height: 40px;
    margin-top: 20px;
    margin-left: 60px;
}
.inform .user{
    margin-top: 28px;
}
.register_btn {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    margin-left: 60px;
    background-color: #0086ff;
    border: transparent;
    font-size: 14px;
    color: white;
}
.to_login{
    margin-right: 60px;
}
.to_login a{
    display: block;
    font-size: 12px;
    float: right;
    margin-top: 22px;
}
/*底部1*/
.bottom{
    height: 70px;
    border-top: 2px solid #dddddd;
    background-color: #f4f4f4;
}
.bottom1{
    margin-top: 10px;
}
.bottom2{
    margin-top: 7px;
    margin-bottom: 10px;
}
.bottom a{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
    padding-right: 9px;
}
/*footer部分*/
.end{
    width: 100%;
    height: 130px;
    background-color: #f4f4f4;
}
.end1{
    height: 130px;
    background-color: white;
    border-top: 2px solid #dddddd;
}
.end1 a{
    font-size: 12px;
    padding-top: 10px;
    padding-right: 11px;
}
.end2{
    margin-left: 13px;
    padding-top: 10px;
}
