<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="__STATIC__/css/account.css">
</head>
<body>
    <div class="top">
        <p class="p1">您的基础信息</p>
        <p class="p2">用户名:<a href="http://www.stc.net/admins.php/admins/Account/modifyPass" target="iframe2">修改密码</a></p>
        <p class="p3">手机号:<a href="http://www.stc.net/admins.php/admins/Account/modifyNumber" target="iframe2">修改手机号</a></p>
    </div>
	<div class="bottom">
		<iframe src="http://www.stc.net/admins.php/admins/Account/modifyNumber" name="iframe2" scrolling="no"></iframe>
	</div>
</body>
</html>
