<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="css/modifyNumber.css">
</head>
<body>
<div class="center">
    <div class="modify">
        <p>修改手机号</p>
        <div class="inform">
            <input type="username" placeholder="原手机号" class="user">
            <input type="password" placeholder="新手机号">
            <input type="password" placeholder="确认手机号">
        </div>
        <div>
            <input type="button" value="确认修改" class="modify_btn">
        </div>
    </div>
</div>
</body>
</html>