<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="css/modifyPass.css">
</head>
<body>
    <div class="center">
        <div class="modify">
            <p>修改密码</p>
            <div class="inform">
                <input type="username" placeholder="原密码" class="user">
                <input type="password" placeholder="新密码">
                <input type="password" placeholder="确认密码">
            </div>
            <div>
                <input type="button" value="确认修改" class="modify_btn">
            </div>
        </div>
    </div>
</body>
</html>