<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/order.css">
</head>
<body>
	<div class="top">
		<span><a href="order_all.html" target="iframe3">所有订单</a></span>
		<span>|</span>
		<span><a href="order_payment.html" target="iframe3">待付款</a></span>
		<span>|</span>
		<span><a href="order_send.html" target="iframe3">待发货</a></span>
		<span>|</span>
		<span><a href="order_receive.html" target="iframe3">待收货</a></span>
	</div>
	<iframe src="order_all.html" name="iframe3" scrolling="no"></iframe>
</body>
</html>