<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
    <link rel="stylesheet" type="text/css" href="css/personal_information.css">
</head>
<body>
    <div class="personal_information">
        <p>个人资料</p>
        <div class="information">
        姓名：<input type="text" class="name"><br />
        性别：<input type="text" class="sex"><br />
        年龄：<input type="text" class="age"><br />
        出生日期：<input type="text" class="year">
        </div>
    </div>
    <div class="preserve">
        <input type="button" value="保存" class="preserve_btn">
    </div>
</body>
</html>