<div class="bottom w">
    <div class="bottom1">
        <a href="">手推车电脑配件商城</a>
        <a href="">手推车论坛</a>
    </div>
    <div class="bottom2">
        <a href="">手推车手机维修网</a>
        <a href="">手推车电子大世界</a>
    </div>
</div>
<!--footer-->
<div class="end">
    <div class="end1 w">
        <div class="end2">
            <a href="">关于手推车</a>
            <a href="">合作伙伴</a>
            <a href="">营销中心</a>
            <a href="">廉政举报</a>
            <a href="">联系客服</a>
            <a href="">诚征英才</a>
            <a href="">联系我们</a>
        </div>
        <div class="end2"><a>增值电信业务许可证</a></div>
        <div class="end2"><a>互联网电子配件经营许可证</a></div>
        <div class="end2"><a>黑公网安备</a></div>
    </div>
</div>
</body>
</html>
