<!DOCTYPE html>
<html>
<head>
	<title>添加商品</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css">
	<script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
</head>
<body style="padding: 10px;">
	<form class="layui-form">
		<input type="hidden" name="gid" value="{$data.item.gid}">
		<div class="layui-form-item">
			<label class="layui-form-label">商品名称</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" name="title" value="{$data.item.title}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">种类</label>
			<div class="layui-input-inline">
				<select name="type_id">
					<option value="0">请选择</option>
					{volist name="data.type" id="vo_type"}
					<option value="{$vo_type.id}" <?php if($data['item']['type_id']==$vo_type['id']){echo 'selected';}?>>{$vo_type.title}</option>
					{/volist}
				</select>
			</div>
			<label class="layui-form-label">&nbsp;</label>
			<div class="layui-input-inline">
				<button class="layui-btn layui-btn-sm" onclick="return false;" id="upload_img"><i class="layui-icon">&#xe67c;</i>上传图片</button>
				<img id="pre_img" <?php if($data['item']['img']){echo 'src="'.$data['item']['img'].'"';}?> style="height: 30px;" />
				<input type="hidden" name="img" value="{$data.item.img}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">价格</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" name="price" value="{$data.item.price}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">库存</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" name="stock" value="{$data.item.stock}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">描述</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" name="desc" value="{$data.item.desc}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-inline">
				<input type="checkbox" layui-skin="primary" name="status" title="上架" <?php if($data['item']['status']){echo 'checked';}?> value="1">
			</div>
		</div>
	</form>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" onclick="save()">保存</button>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
	layui.use(['form','layer','upload'],function(){
		$ = layui.jquery;
		var form = layui.form;
		layer = layui.layer;

		var upload = layui.upload;

		 //执行实例
		var uploadInst = upload.render({
			elem: '#upload_img' //绑定元素
			,url: '/admins.php/admins/goods/upload_img' //上传接口
			,accept:'images'
			,done: function(res){
			  //上传完毕回调
			  $('#pre_img').attr('src',res.msg);
			  $('input[name="img"]').val(res.msg);
			}
			,error: function(){
			  //请求异常回调
			}
		});
	});

	// 保存
	function save(){
		var title = $.trim($('input[name="title"]').val());
		if(title == ''){
			layer.msg('请输入商品名称',{'icon':2,'anim':6});
			return;
		}
		$.post('/admins.php/admins/goods/save',$('form').serialize(),function(res){
			if(res.code>0){
				layer.msg(res.msg,{'icon':2,'anim':2});
			}else{
				layer.msg(res.msg,{'icon':1});
				setTimeout(function(){parent.window.location.reload();},1000);
			}
		},'json');
	}
</script>
