<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/order.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css">
	<script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
</head>
<body>
	<!-- <div class="top">
		<span><a href="#">所有订单</a></span>
		<span>|</span>
		<span><a href="#">待付款</a></span>
		<span>|</span>
		<span><a href="#">待发货</a></span>
		<span>|</span>
		<span><a href="#">待收货</a></span>
	</div> -->
		<div class="nav">
			<span>宝贝</span>
			<ul>
				<li style="padding-left: 390px;">实付款</li>
				<li style="padding-left: 54px;">交易状态</li>
				<li style="padding-left: 49px;">交易操作</li>
			</ul>
		</div>
		{volist name="data.data.lists" id="vo"}
		<div class="order">
			<div class="order_top">
				<span style="font-weight: bold;margin-left: 17px;">{:date('Y-m-d H:i:s',$vo.add_time)}</span>
				<span style="margin-left: 17px;">订单号：{$vo.oid}</span>
				<span><a href="" style="padding-left: 440px;color: black">删除订单</a></span>
			</div>
		   <div class="order_left">
				 <div class="goods"><img src="{$vo.goods_ids.0.gid? $vo.goods_ids.0.img:""}"><div class="titleprice"><p class="goodstitle">{$vo.goods_ids.0.gid? $vo.goods_ids.0.title:""}</p><br/><p class="goodsprice">{$vo.goods_ids.0.gid?"￥":""}{$vo.goods_ids.0.gid? $vo.goods_ids.0.price:""}</p></div></div>
			   <div class="goods"><img src="{$vo.goods_ids.1.gid? $vo.goods_ids.1.img:""}"><div class="titleprice"><p class="goodstitle">{$vo.goods_ids.1.gid? $vo.goods_ids.1.title:""}</p><br/><p class="goodsprice">{$vo.goods_ids.1.gid?"￥":""}{$vo.goods_ids.1.gid? $vo.goods_ids.1.price:""}</p></div></div>
				 <div class="goods"><img src="{$vo.goods_ids.2.gid? $vo.goods_ids.2.img:""}"><div class="titleprice"><p class="goodstitle">{$vo.goods_ids.2.gid? $vo.goods_ids.2.title:""}</p><br/><p class="goodsprice">{$vo.goods_ids.2.gid?"￥":""}{$vo.goods_ids.2.gid? $vo.goods_ids.2.price:""}</p></div></div>
				 <div class="goods"><img src="{$vo.goods_ids.3.gid? $vo.goods_ids.3.img:""}"><div class="titleprice"><p class="goodstitle">{$vo.goods_ids.3.gid? $vo.goods_ids.3.title:""}</p><br/><p class="goodsprice">{$vo.goods_ids.3.gid?"￥":""}{$vo.goods_ids.3.gid? $vo.goods_ids.3.price:""}</p></div></div>
			</div>

				<div class="order_right">
					<div class="status"><span style="font-weight: bold;">￥{$vo.price}</br></br><button class="layui-btn layui-btn-xs" onclick="details({$vo.oid})">订单详情</button></span></div>
					<div class="status"><span>
						  {switch name="vo.status"}
	            {case value="0"}待付款{/case}
	            {case value="1"}待发货{/case}
							{case value="2"}待收货</br>快递单号</br>{$vo.express}{/case}
							{case value="3"}交易完成{/case}
	            {/switch}</span></div>
					<div class="status"><span>
						  {switch name="vo.status"}
	            {case value="0"}<button class="layui-btn layui-btn-xs" onclick="pay({$vo.oid})">付款</button>{/case}
	            {case value="1"}{/case}
							{case value="2"}<button class="layui-btn layui-btn-xs" onclick="confirm({$vo.oid})">确认收货</button>{/case}
							{case value="3"}{/case}
	            {/switch}</span></div>
				</div>
		</div>
		{/volist}
		<div id="pages"></div>


		<script type="text/javascript">
			layui.use(['layer','laypage'],function(){
				layer = layui.layer;
				$ = layui.jquery;
				laypage = layui.laypage;

				laypage.render({
						elem: 'pages'
						,count:{$data.data.total}
						,limit:{$data.pageSize}
						,curr:{$data.page}
					,jump: function(obj, first){
						if(!first){
							searchs(obj.curr);
						}
					}
				});
			});
      //订单详情
			function details(oid){
				layer.open({
					type: 2,
					title: '订单详情',
					shade: 0.3,
					area: ['800px', '500px'],
					content: '/index.php/index/order/details?oid='+oid
				});
			}
			//确认收货
			function confirm(oid){
				layer.confirm('确定确认收货吗？', {
					icon:3,
					btn: ['确定','取消']
				}, function(){
					$.post('/index.php/index/order/confirm',{'oid':oid},function(res){
						if(res.code>0){
							layer.alert(res.msg,{icon:2});
						}else{
							layer.msg(res.msg);
							setTimeout(function(){window.location.reload();},1000);
						}
					},'json');
				});
			}

			//确认收货
			function pay(oid){
				layer.confirm('确定付款吗？', {
					icon:3,
					btn: ['确定','取消']
				}, function(){
					$.post('/index.php/index/order/pay',{'oid':oid},function(res){
						if(res.code>0){
							layer.alert(res.msg,{icon:2});
						}else{
							layer.msg(res.msg);
							setTimeout(function(){window.location.reload();},1000);
						}
					},'json');
				});
			}



			// 搜索
			function searchs(curpage){
				var wd = $.trim($('#wd').val());
				var url = "/index.php/index/Order/order?page="+curpage;
				if(wd){
					url += '&wd='+wd;
				}
				window.location.href = url;
			}
		</script>

</body>
</html>
