<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/order.css">
</head>
<body>
	<div class="top">
		<span><a href="http://www.stc.net/index.php/index/Order/order_all" target="iframe3">所有订单</a></span>
		<span>|</span>
		<span><a href="http://www.stc.net/index.php/index/Order/order_payment" target="iframe3">待付款</a></span>
		<span>|</span>
		<span><a href="http://www.stc.net/index.php/index/Order/order_send" target="iframe3">待发货</a></span>
		<span>|</span>
		<span><a href="http://www.stc.net/index.php/index/Order/order_receive" target="iframe3">待收货</a></span>
	</div>
	<iframe src="http://www.stc.net/index.php/index/Order/order_all" name="iframe3" scrolling="no"></iframe>
</body>
</html>
